@import "fonts.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 90px 0 50px;
}

.title:after{
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #EC7979;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

}

.contact-text p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    padding: 40px 0 0;
}

.contact-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 50px;
}

input{
    border: none;
    outline: none;
    width: 100%;
}

.contact-form-info__description{
    position: relative;
    padding: 50px 0 16px;
    width: 570px;
}
.contact-form-info__description:after{
    position: absolute;
    content: "";
    width: 570px;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #BDBDBD;
}

label{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

textarea{
    border: none;
    outline: none;
    resize: none;
}

.contact-form-message{
    padding: 50px 0 0;
    width: 570px;
    position: relative;
}

.contact-form-message:after{
    position: absolute;
    content: "";
    width: 570px;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #BDBDBD;
}

::placeholder{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

a{
    text-decoration: none;
}

.contact-form-btn{
    display: block;
    margin: 50px auto 0;
    padding: 20px 65px;
    width: 370px;
    background: #EC7979;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}